ServiceSamples/SoapUtility/Service References/UserSessionServiceReference/UserSessionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://schemas.microsoft.com/dynamics/2011/01/services" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserSessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_UserSessionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</trust:TokenType>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/dynamics/2011/01/services" location="https://usncax1aos.cloud.onebox.dynamics.com/services/UserSessionService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_UserSessionService" type="i0:UserSessionService">
    <wsp:PolicyReference URI="#CustomBinding_UserSessionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyTimeZone">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/ApplyTimeZone" style="document" />
      <wsdl:input name="ApplyTimeZone">
        <soap12:header message="i0:ApplyTimeZone_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ApplyTimeZoneResponse">
        <soap12:header message="i0:ApplyTimeZoneResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccessRights">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/GetAccessRights" style="document" />
      <wsdl:input name="GetAccessRights">
        <soap12:header message="i0:GetAccessRights_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccessRightsResponse">
        <soap12:header message="i0:GetAccessRightsResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPartitionKey">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/GetPartitionKey" style="document" />
      <wsdl:input name="GetPartitionKey">
        <soap12:header message="i0:GetPartitionKey_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPartitionKeyResponse">
        <soap12:header message="i0:GetPartitionKeyResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPartitionKeysForUser">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/GetPartitionKeysForUser" style="document" />
      <wsdl:input name="GetPartitionKeysForUser">
        <soap12:header message="i0:GetPartitionKeysForUser_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPartitionKeysForUserResponse">
        <soap12:header message="i0:GetPartitionKeysForUserResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserSessionInfo">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/GetUserSessionInfo" style="document" />
      <wsdl:input name="GetUserSessionInfo">
        <soap12:header message="i0:GetUserSessionInfo_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetUserSessionInfoResponse">
        <soap12:header message="i0:GetUserSessionInfoResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsSinglePartitionSystem">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/IsSinglePartitionSystem" style="document" />
      <wsdl:input name="IsSinglePartitionSystem">
        <soap12:header message="i0:IsSinglePartitionSystem_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsSinglePartitionSystemResponse">
        <soap12:header message="i0:IsSinglePartitionSystemResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveTimeZone">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2011/01/services/UserSessionService/RemoveTimeZone" style="document" />
      <wsdl:input name="RemoveTimeZone">
        <soap12:header message="i0:RemoveTimeZone_Headers" part="callContext" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveTimeZoneResponse">
        <soap12:header message="i0:RemoveTimeZoneResponse_Headers" part="infolog" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap12:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserSessionService">
    <wsdl:port name="CustomBinding_UserSessionService" binding="tns:CustomBinding_UserSessionService">
      <soap12:address location="https://usncax1aos.cloud.onebox.dynamics.com/services/UserSessionService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://usncax1aos.cloud.onebox.dynamics.com/services/UserSessionService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>